<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="loginForm.form" (ngSubmit)="login()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Email Field -->
          <ion-item [class.invalid]="loginForm.isFieldValid('email')">
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="loginForm.isTouchedOrDirty('email') && loginForm.form.get('email')?.errors?.['required']"
          >
            Email is required.
          </ion-text>
          <ion-text
            color="danger"
            *ngIf="loginForm.form.get('email')?.errors?.['email']"
          >
            Please enter a valid email.
          </ion-text>

          <!-- Password Field -->
          <ion-item [class.invalid]="loginForm.isFieldValid('password')">
            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="loginForm.isTouchedOrDirty('email') && loginForm.form.get('password')?.errors?.['required']"
          >
            Password is required.
          </ion-text>
          <ion-text
            color="danger"
            *ngIf="loginForm.isTouchedOrDirty('email') &&  loginForm.form.get('password')?.errors?.['pattern']"
          >
            Password must contain at least one letter and one number.
          </ion-text>

          <!-- Buttons -->
          <ion-button
            class="login-button"
            type="submit"
            [disabled]="loginForm.form.invalid"
          >
            Login
          </ion-button>
          <ion-button
            fill="clear"
            color="dark"
            (click)="forgotEmailPassword()"
            [disabled]="!loginForm.form.valid"
          >
            Forgot password?
          </ion-button>

          <ion-text class="signup-text">
            <p>Don't have an account? <a href="/register">Register</a></p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
