<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="registerForm.form" (ngSubmit)="register()">
      <!-- User Information -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Account Registration</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <!-- Name Field -->
            <ion-item [class.invalid]="registerForm.isFieldInvalid('name')">
              <ion-input
                type="text"
                formControlName="name"
                placeholder="Name"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('name')"
            >
              Name is required (min. 2 characters).
            </ion-text>

            <!-- Email Field -->
            <ion-item [class.invalid]="registerForm.isFieldInvalid('email')">
              <ion-input
                type="email"
                formControlName="email"
                placeholder="Email"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('email')"
            >
              A valid email is required.
            </ion-text>

            <!-- Password Field -->
            <ion-item [class.invalid]="registerForm.isFieldInvalid('password')">
              <ion-input
                type="password"
                formControlName="password"
                placeholder="Password"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('password')"
            >
              Password must be at least 6 characters, with 1 letter and 1
              number.
            </ion-text>

            <!-- Confirm Password Field -->
            <ion-item
              [class.invalid]="registerForm.isFieldInvalid('confirmPassword')"
            >
              <ion-input
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('confirmPassword')"
            >
              Confirmation password must match the password.
            </ion-text>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Address Information -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Address</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item [class.invalid]="registerForm.isFieldInvalid('address')">
              <ion-input
                type="text"
                formControlName="address"
                placeholder="Address"
                #autocomplete
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('address')"
            >
              Address is required.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('number')">
              <ion-input
                type="number"
                formControlName="number"
                placeholder="Number"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('number')"
            >
              Only numeric values are allowed.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('street')">
              <ion-input
                type="text"
                formControlName="street"
                placeholder="Street"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('street')"
            >
              City is required.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('city')">
              <ion-input
                type="text"
                formControlName="city"
                placeholder="City"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('city')"
            >
              City is required.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('country')">
              <ion-input
                type="text"
                formControlName="country"
                placeholder="Country"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('country')"
            >
              Country is required.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('state')">
              <ion-input
                type="text"
                formControlName="state"
                placeholder="State"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('state')"
            >
              State is required.
            </ion-text>

            <ion-item [class.invalid]="registerForm.isFieldInvalid('zipCode')">
              <ion-input
                type="text"
                formControlName="zipCode"
                placeholder="Zip Code"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="registerForm.isFieldInvalid('zipCode')"
            >
              Zip Code must be 5-6 digits.
            </ion-text>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Submit Button -->
      <ion-card>
        <ion-card-content>
          <ion-button type="submit" [disabled]="!registerForm.form.valid">
            Register
          </ion-button>
          <ion-text class="register-text">
            <p>Already have an account? <a href="/login">Login</a></p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
