<ion-content [fullscreen]="true">
  <ion-card class="register-card">
    <ion-card-header>
      <ion-card-title>Account Registration</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Phone"></ion-input>
        </ion-item>
      </ion-list>
      <!-- <ion-button class="register-button">Register</ion-button>

      <ion-text class="register-text">
        <p>Don't have an account? <a href="/login">Register</a></p>
      </ion-text> -->
    </ion-card-content>
  </ion-card>
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="City"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Country"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="State"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Zip Code"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="login-card">
    <ion-card-content>
      <ion-button class="register-button">Register</ion-button>

      <ion-text class="register-text">
        <p>Already have an account? <a href="/login">Login</a></p>
      </ion-text></ion-card-content
    >
  </ion-card>
</ion-content>
