<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/my-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="requestForm">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-flex-wrap">
          <!-- Image Upload - Full width on mobile, 4 columns on desktop -->
          <ion-col size="12" size-md="4" class="image-col">
            <div class="image-container">
              <ion-img [src]="'assets/images/add-image.svg'"></ion-img>
              <ion-button fill="clear" (click)="uploadImage()">
                <ion-icon name="camera-outline"></ion-icon>
                Upload Image
              </ion-button>
            </div>
          </ion-col>

          <!-- Form Fields - Full width on mobile, 8 columns on desktop -->
          <ion-col size="12" size-md="8" class="content-col">
            <ion-list>
              <ion-item>
                <ion-select
                  label="Select an exist product"
                  aria-label="Product"
                  formControlName="product"
                  interface="popover"
                  label-placement="floating"
                  (ionChange)="onProductSelection($event)"
                >
                  <ion-select-option
                    *ngFor="let product of productsData$ | async"
                    [value]="product"
                  >
                    {{ product.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <!-- <ion-item *ngIf="productsData$ | async">
                    <ion-label>No products found</ion-label>
                  </ion-item> -->
              <ion-item>
                <ion-input
                  label="Item Name"
                  formControlName="name"
                  interface="popover"
                  label-placement="floating"
                  type="text"
                ></ion-input>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('name')?.touched && requestForm.get('name')?.errors?.['required']"
                >
                  Name is required
                </ion-note>
              </ion-item>

              <!-- <ion-item>
                <ion-select
                  label="Category"
                  formControlName="category"
                  interface="popover"
                  label-placement="floating"
                >
                  <ion-select-option value="electronics"
                    >Electronics</ion-select-option
                  >
                  <ion-select-option value="clothing"
                    >Clothing</ion-select-option
                  >
                  <ion-select-option value="food">Food</ion-select-option>
                </ion-select>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('category')?.touched && requestForm.get('category')?.errors?.['required']"
                >
                  Category is required
                </ion-note>
              </ion-item> -->

              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input
                      label="Price"
                      formControlName="price"
                      interface="popover"
                      type="number"
                      label-placement="floating"
                    ></ion-input>
                    <ion-note
                      slot="error"
                      *ngIf="requestForm.get('price')?.touched && requestForm.get('price')?.errors?.['required']"
                    >
                      Price is required
                    </ion-note>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-select
                      label="Tip %"
                      formControlName="tipPercentage"
                      label-placement="floating"
                      interface="popover"
                    >
                      <ion-select-option value="10">10%</ion-select-option>
                      <ion-select-option value="15">15%</ion-select-option>
                      <ion-select-option value="10">20%</ion-select-option>
                      <ion-select-option value="25">25%</ion-select-option>
                    </ion-select>
                    <ion-note
                      slot="error"
                      *ngIf="requestForm.get('tipPercentage')?.touched && requestForm.get('tipPercentage')?.errors?.['required']"
                    >
                      Tip is required
                    </ion-note>
                  </ion-item>
                </ion-col>

                <ion-col size="4">
                  <ion-item>
                    <ion-select
                      label="Quantity (1-5)"
                      formControlName="quantity"
                      label-placement="floating"
                      interface="popover"
                    >
                      <ion-select-option value="1">1</ion-select-option>
                      <ion-select-option value="2">2</ion-select-option>
                      <ion-select-option value="3">3</ion-select-option>
                      <ion-select-option value="4">4</ion-select-option>
                      <ion-select-option value="5">5</ion-select-option>
                    </ion-select>
                    <ion-note
                      slot="error"
                      *ngIf="requestForm.get('quantity')?.touched && requestForm.get('quantity')?.errors?.['required']"
                    >
                      Quantity is required
                    </ion-note>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-item>
                <ion-select
                  label="Origin Country"
                  formControlName="originCountry"
                  label-placement="floating"
                  interface="popover"
                  (ionChange)="onOriginCountryChange($event)"
                >
                  <ion-select-option
                    *ngFor="let country of countries"
                    [value]="country.id"
                  >
                    {{ country.name }}
                  </ion-select-option>
                </ion-select>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('originCountry')?.touched && requestForm.get('originCountry')?.errors?.['required']"
                >
                  Origin is required
                </ion-note>
              </ion-item>

              <ion-item *ngIf="StatesOrgOrProvince.length > 0">
                <ion-select
                  label="Origin State/Province"
                  label-placement="floating"
                  interface="popover"
                  formControlName="originState"
                >
                  <ion-select-option
                    *ngFor="let state of StatesOrgOrProvince"
                    [value]="state.id"
                  >
                    {{ state.name }}
                  </ion-select-option>
                </ion-select>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('originState')?.touched && requestForm.get('originState')?.errors?.['required']"
                >
                  Origin is required
                </ion-note>
              </ion-item>

              <ion-item>
                <ion-select
                  label="Destination Country"
                  formControlName="destCountry"
                  label-placement="floating"
                  interface="popover"
                  (ionChange)="onDestCountryChange($event)"
                >
                  <ion-select-option
                    *ngFor="let country of countries"
                    [value]="country.id"
                  >
                    {{ country.name }}
                  </ion-select-option>
                </ion-select>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('destCountry')?.touched && requestForm.get('destCountry')?.errors?.['required']"
                >
                  Destination is required
                </ion-note>
              </ion-item>

              <ion-item *ngIf="StatesDestOrProvince.length > 0">
                <ion-select
                  label="Destination State/Province"
                  label-placement="floating"
                  interface="popover"
                  formControlName="destState"
                >
                  <ion-select-option
                    *ngFor="let state of StatesDestOrProvince"
                    [value]="state.id"
                  >
                    {{ state.name }}
                  </ion-select-option>
                </ion-select>
                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('destState')?.touched && requestForm.get('destState')?.errors?.['required']"
                >
                  Destination is required
                </ion-note>
              </ion-item>

              <!-- <ion-item>
                <ion-label>Delivery Date</ion-label>
                <div class="date-container">
                  <ion-datetime-button
                    datetime="datetime"
                  ></ion-datetime-button>
                </div>

                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      id="datetime"
                      formControlName="deliveryDate"
                      [min]="minDate"
                      presentation="date"
                      showDefaultButtons="true"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>

                <ion-note
                  slot="error"
                  *ngIf="requestForm.get('deliveryDate')?.touched && requestForm.get('deliveryDate')?.errors?.['required']"
                >
                  Delivery date is required
                </ion-note>
              </ion-item> -->

              <ion-button
                expand="block"
                class="create-button"
                (click)="createRequest()"
                [disabled]="!requestForm.valid"
              >
                Create Request
              </ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
