<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>I am planing to fly and can bring some stuff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center" [fullscreen]="true">
  <!-- Map Background Image -->
  <div class="map-bg">
    <img
      src="https://cdn.hswstatic.com/gif/maps.jpg"
      height="400px"
      width="100%"
      alt="Map"
    />
  </div>

  <!-- Country Dropdowns and States -->
  <div class="dropdowns-container" *ngIf="!showResults">
    <!-- From Country Dropdown -->
    <ion-list>
      <ion-item>
        <ion-select
          label="Origin Country"
          label-placement="floating"
          interface="popover"
          [(ngModel)]="newOffer.from_country"
          (ionChange)="onOriginCountryChange($event)"
        >
          <ion-select-option
            *ngFor="let country of countries"
            [value]="country.id"
          >
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="StatesOrgOrProvince.length > 0">
        <ion-select
          label="Origin State/Province"
          label-placement="floating"
          interface="popover"
          [(ngModel)]="newOffer.from_state"
        >
          <ion-select-option
            *ngFor="let state of StatesOrgOrProvince"
            [value]="state.id"
          >
            {{ state.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Destination Country"
          label-placement="floating"
          interface="popover"
          [(ngModel)]="newOffer.to_country"
          (ionChange)="onDestCountryChange($event)"
        >
          <ion-select-option
            *ngFor="let country of countries"
            [value]="country.id"
          >
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="StatesDestOrProvince.length > 0">
        <ion-select
          label="Destination State/Province"
          label-placement="floating"
          [(ngModel)]="newOffer.to_state"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let state of StatesDestOrProvince"
            [value]="state.id"
          >
            {{ state.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Date of Leaving</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              presentation="date"
              (ionChange)="onDateChange($event)"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <!-- Search Button -->
      <ion-button expand="full" (click)="searchRequest()">Search</ion-button>
    </ion-list>
  </div>

  <!-- List of app-request-cards (will be shown after search) -->
  <div *ngIf="showResults">
    <app-request-card
      *ngFor="let req of requests$ | async"
      [request]="req"
    ></app-request-card>
  </div>
</ion-content>
