<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My requests to brinit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-request-card *ngFor="let request of requestData" [request]="request">
  </app-request-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-request-btn" class="modern-blue-fab">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
