<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My requests to brinit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center" [fullscreen]="true">
  <app-confirmation-modal
    [title]="'Delete Confirmation'"
    [message]="'Are you sure you want to delete this request?'"
    (confirmed)="confirmDeleteRequest()"
    (cancelled)="closeDeleteModal()"
  >
  </app-confirmation-modal>

  <app-request-card
    *ngFor="let request of requestData$ | async"
    [request]="request"
    (deleteRequest)="deleteCard($event)"
  >
  </app-request-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      id="add-request-btn"
      class="modern-blue-fab"
      (click)="goToCreateRequest()"
    >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
