/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

body {
  font-family: var(--ion-font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  color: #222;
  letter-spacing: 0.02em;
}

ion-button {
  font-family: var(--ion-font-family);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

ion-toolbar {
  background: var(--ion-toolbar-background);
  color: var(--ion-toolbar-color);
  min-height: var(--ion-toolbar-min-height);
  padding-top: var(--ion-toolbar-padding-top);
  padding-bottom: var(--ion-toolbar-padding-bottom);
  box-shadow: 0 2px 8px rgba(41, 98, 255, 0.1);

  ion-title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: var(--ion-toolbar-color);
  }

  ion-buttons {
    ion-menu-button,
    ion-back-button {
      color: var(--ion-toolbar-color);
    }
  }
}

// Remove all borders
ion-header::after,
ion-toolbar::after {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
